body{
	background-image:linear-gradient(rgb(0,0,170),black);
	font-family:Verdana;
}

.subtitles{
	display:flex;
	font-weight:bold;
	text-align:center;
	font-family:Verdana;
	font-size:28px;
	color: white;
	justify-content:center;
	margin-top: 18px;
}

.names{
	font-size:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1%;
	color: #6f0808;
}

div img{
	height: 100px;
	width: 100px;
	float:left;
	margin-top:5px;
	border-radius:5px;
	border:1px solid black;
	margin-right: 10px;
	clear:both;
}
.words {
    margin-left: 0px;
    overflow:auto;
    display:block;
}
.about{
	border-radius: 25px;
	background: #eee;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
	width: 65%;
	font-family: Verdana;
	font-size: 18px;
	text-align:center;
}
.bio{
	border-radius: 25px;
	background: #eee;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	flex-direction:column;
	width: 65%;
	font-family: Verdana;
	align-items: flex-start;
}
.contact{
	border-radius: 5px;
	border:1px solid black;
	margin-top:10px;
	margin-bottom:10px;
	font-family:Verdana;
  	margin: 0 0 4px;
  	padding: 3px;
  	font-size: 1.1em;
  	min-width: 65%;
  	max-width:90%;
  	min-height:90%;
}
