body{
	background-image:url("https://i.gifer.com/origin/df/dfc3382d4a85242727fd23906597dd64_w200.gif");
}

.form{
	border-radius: 25px;
	background: #eee;
	padding: 10px; 
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	flex-direction:column;
	width: 50%;
	font-family: Verdana;
}
.labels{
    	display: inline-block;
    	float: left;
    	clear: left;
    	width: 250px;
    	text-align: right;
	margin-top:.5em;
	margin-bottom:.5em;
}
.inputs {
  	display: inline-block;
  	float: left;
	margin-top:.5em;
	margin-bottom:.5em;

}

#submit{
	display:flex;
	justify-content:flex-end;
	width: 50%;
	height: 50%;
}
#passengers{
	display:flex;
	justify-content: flex-end;
}
#add{
background: url('https://b.kisscc0.com/20180817/pe/kisscc0-addition-plus-and-minus-signs-symbol-computer-ic-mono-vcs-add-5b7721db031083.5635613615345341070126.png');
width: 50%;
height: 50%;
}

input[type=text]:focus{
	border: 3px solid #555;
}

legend {
	display:flex;
	font-weight:bold;
	font-size: 24px;
	text-align: center;
}

.info {
	text-align: center;
}

.app {
	height: 1%;
	width: 4%;
}
@media only screen and (min-width: 999px){

}
@media only screen and (max-width: 998px) and (min-width: 400px){

}
@media only screen and (max-width: 399px){
	input, label {
	display:block;
}
}
