#sidenav-menu, nav div p, #sidenav{
	display: none;
}

nav div{
	float:right;
}

#topnav{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer #footerSections{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 12px;
}

[img=rocket]{
    background-image: url('../images/rocket.jpg');
    background-size:155%;
  }

/*Housing*/
.homeheader{
	display: flex;
	align-item: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.homeh1{
	margin: 0px 0px 0px 0px;
	color: white;
	font-family: verdana;
}
body{
	background-image: linear-gradient(rgb(0,0,170), black);
}
.list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.posting{
	width: 90%;
	display: flex;
	flex-grow: inherit;
}
.post{
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: #EEE;
	display: flex;
	align-items: center;
	border-radius: 25px;
}
.pic{
	min-height: 200px;
	min-width: 200px;
	max-width: 200px;
	max-height: 200px;
	margin-right: 10px;
}
.write{
	height: 250px;
}
.price{
	font-size: medium;
	margin: .5em 0;
	font-family: verdana;
}
.description{
	font-size: 1.5vw;
	font-weight: normal;
	font-family: verdana;
}

/*Application*/
legend{
	font-size: 24px;

}
.labels{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
	margin-top:.5em;
	margin-bottom:.5em;
}

.inputs {
  	display: inline-block;
  	float: left;
	margin-top:.5em;
	margin-bottom:.5em;
}

.words{
	font-size: calc(10px + 0.8vw)
}