#sidenav-menu, nav div p, #sidenav{
	display: none;
}

nav div{
	float:right;
}

#topnav{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer #footerSections{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 12px;
}


/*Housing*/
.homeheader{
	background-color: red;
	display: flex;
	align-item: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.homeh1{
	margin: 0px 0px 0px 0px;
	color: white;
}
.homebody{
	background-color: maroon;
}
.list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.posting{
	width: 800px;
	display: flex;
	flex-grow: inherit;
}
.post{
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: white;
	display: flex;
	align-items: center;
}
.pic{
	height: 200px;
	width: 200px;
	margin-right: 10px;
}
.write{
	height: 200px;
}
.price{
	font-size: large;
	margin: .5em 0;
	font-family: verdana;
}
.description{
	font-size: medium;
	font-weight: normal;
	font-family: verdana;
}

/*Application*/
legend{
	font-size: 24px;

}
.labels{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
	margin-top:.5em;
	margin-bottom:.5em;
}

.inputs {
  	display: inline-block;
  	float: left;
	margin-top:.5em;
	margin-bottom:.5em;

}