/*Michael Reilly*/
/*I pledge my honor that I have abided by the Stevens Honor System*/

header{
	background-color: red;
	display: flex;
	align-item: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
h1{
	margin: 0px 0px 0px 0px;
	color: white;
}
body{
	background-color: maroon;
}