#topnav{
	display: none;
}

#sidenav-menu{
	height: 30px;
	cursor: pointer;
	margin-left: 10px;
}

.sidenavitem{
	cursor:pointer;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenavitem:hover {
    color: red;
}

.sidenavitem li{
	list-style: none;
}