.labels{
text-align:center;
}
p{
display:flex;
text-align:center;
}
#info{
text-align:center;
}
.buttons{
	margin-top:12px;
	text-align:center;
}
#finished{
	margin-left:auto;
}
#restart{
	margin-right:auto;
}