p{
margin-left:auto;
margin-right:auto;
}
#info{
text-align:center;
}
.buttons{
	margin-top:12px;
	text-align:center;
}
#finished{
	margin-left:auto;
}
#restart{
	margin-right:auto;
}
.vLabels{
	margin-top:.5em;
	margin-bottom:.5em;
}